<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    
	<script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  
  <body class="platform-ios" ng-app="starter" ng-controller="TodoListController">
	  
    <ion-pane>
	<ion-tabs class="tabs-positive tabs-icon-only">
	
	  <ion-tab title="Home" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">
	    <!-- Tab 1 content -->
	<!--     header section -->
	      <ion-header-bar align-title="center" class="bar-positive">
		  	<div class="buttons">
		  		<button class="button button-icon icon ion-ios7-minus-outline" ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
		  			<h1 class="title">Todo List App</h1>
			   	<button class="button button-icon icon ion-ios7-plus-outline" ng-click="openModal()"></button>
		  			
      		</div>	        
<!--
      		<h1 class="title">Todo List App</h1>
	        <div class="buttons">
				<button class="button" ng-click="openModal()"><span class="ion-plus-circled"></span> Add</button>
	  		</div>
-->
	      </ion-header-bar>
	<!--     end header section -->
	<!--       main content  -->
	      <ion-content>
<!-- 	     Refresher  -->
			  <ion-refresher
			    pulling-text="Pull to refresh..."
			    on-refresh="doRefresh()">
			  </ion-refresher>
	      	<ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
		        <ion-item ng-repeat="item in todoItems" item="item" href="#/item/{{item.id}}">
					<ion-delete-button class="ion-minus-circled"  ng-click="onItemDelete(item)">
					</ion-delete-button>

		       		{{item.task}}
		        </ion-item>
			</ion-list>
	      </ion-content>
	<!--      end main content  -->
	  </ion-tab>
	
	  <ion-tab title="About" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
	    <!-- Tab 2 content -->
	      <ion-header-bar align-title="center" class="bar-positive">
	        <h1 class="title">Instagram Search</h1>
	      </ion-header-bar>
	<!--       main content  -->
	      <ion-content>
				<div class="list list-inset">
				  <label class="item item-input">
				    <i class="icon ion-search placeholder-icon"></i>
				    <input type="text" id="instagram-search" ng-keyup="searchInstagram($event)" placeholder="Search">
				  </label>
				</div>
				<div class="list" >
				    <a class="item item-avatar" href="#" ng-repeat="user in instagramUsers">
				      <img ng-src="{{user.imgsrc}}">
				      <h2>{{user.name}}</h2>
				      <p>{{user.description}}</p>
				    </a>
				</div>
			</ion-content>
	<!--      end main content  -->
	      
	  </ion-tab>
	
	  <ion-tab title="Settings" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline">
	    <!-- Tab 3 content -->
	      <ion-header-bar align-title="center" class="bar-positive">
	        <h1 class="title">Tab 3</h1>
	     </ion-header-bar>
	     <ion-content>
	     <ul class="list">

		 	<li class="item item-toggle">
			 	Auto-Reload
			 	<label class="toggle toggle-assertive">
			 	<input type="checkbox">
			 	<div class="track">
			 	<div class="handle"></div>
	       		</div>
		   		</label>
	   		</li>
		 	<li class="item item-toggle">
			 	AJAX
			 	<label class="toggle toggle-assertive">
			 	<input type="checkbox">
			 	<div class="track">
			 	<div class="handle"></div>
	       		</div>
		   		</label>
	   		</li>
		 	<li class="item item-toggle">
			 	Notifications
			 	<label class="toggle toggle-assertive">
			 	<input type="checkbox">
			 	<div class="track">
			 	<div class="handle"></div>
	       		</div>
		   		</label>
	   		</li>
		</ul>
		
		</ion-content>
	  </ion-tab>
	
	</ion-tabs>
    </ion-pane>
<script id="modal.html" type="text/ng-template">
<div class="modal">

  <div class="bar bar-header bar-calm">
    <button class="button" ng-click="closeModal()">back</button>
    <h1 class="title">Add Item</h1>
  </div>
  <br></br>
  <br></br>
  <form ng-submit="AddItem(data)">
    <div class="list">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Add Item" ng-model="data.newItem">
        </label>
	      <button class="button button-block button-positive" type="submit">
	        Add Item
	      </button>
      </div>
    </div>
  </form>

</div>
</script>
  </body>
</html>
